.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../assets/images/registerbg.jpg");
    background-size: cover;
}
.register-title{
    font-size: 50px;
}

.register-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.register-form > label{
    margin-top: 20px 0;
}
.register-form > input{
    padding: 10px;
    background-color: white;
    border: none;
}
.register-submit{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 30px;
}
.login-button{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #67103a;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.error-text{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}